POSTGRES_USER="your_text"
POSTGRES_PASSWORD="your_text"
POSTGRES_DB="your_text"

SECRET_KEY="your_text"
DB_HOST="your_text"
DB_PORT="your_text"
TUNNEL_LIVE_TIME_HOURS=1
TG_BOT_TOKEN="your_text"
WEBHOOK_URL="your_text"
WEBHOOK_SECRET="your_text"
NTB_ADMIN_TOKEN="your_text"
FIRST_SUPERUSER_USERNAME="your_text"
FIRST_SUPERUSER_PASSWORD="your_text"
SESSION_SECRET_KEY="your_text"
